@media(max-width:1024px){
    .strat_img_flex img{
        width: 15rem;
        height: 15rem;
    }
    .how_to_play_grid img{
        height: 30rem;
        margin-top: 3rem;
        width: 30rem;
        height: 25rem;
    }
    .Main_information_grid img{
        margin-top: 3rem;
        margin-left: 1rem;
        width: 27rem;
        height: 20rem;
    }
}
@media(max-width:956px){
    #ms_easy{
        width: 13rem;
        height: 13rem;
    }
    #ms_med{
        width: 18rem;
        height: 18rem;
    }
    #ms_hard{
        width: 23rem;
        height: 23rem;
    }
    .strat_img_flex img{
        width: 12rem;
        height: 12rem;
    }
}
@media(max-width:800px){
    .navBar{
        font-size: 1rem;
    }
    .Main_information_grid{
        grid-template-columns: 1fr;
    }
    .Main_information_grid img{
        margin: 0 auto;
        width: 35rem;
        height: 25rem;
    } 
    .how_to_play_grid{
        grid-template-columns: 1fr;
    }
    .how_to_play_grid img{
        margin: 0 auto;
        width: 35rem;
        height: 25rem;
        padding: 1rem;
    }
}
@media(max-width:768px){
    header img{
        width: 5rem;
    }
    .navBar{
        font-size: 1rem;
    }
    #ms_easy{
        width: 10rem;
        height: 10rem;
    }
    #ms_med{
        width: 15rem;
        height: 15rem;
    }
    #ms_hard{
        width: 20rem;
        height: 20rem;
    }
    .strat_img_flex img{
        width: 10rem;
        height: 10rem;
    }
    .Main_information_grid img{
        width: 35rem;
        height: 25rem;
        padding: 3.5rem;
    }
    .Main_information_grid{
        grid-template-columns: 1fr;
    }
    .how_to_play_grid img{
        width: 35rem;
        height: 25rem;
        margin-top: 3rem;
        padding: 3.5rem;
    }
    .how_to_play_grid{
        grid-template-columns: 1fr;
    }
}
@media(max-width:700px){
    .navBar{
        font-size: 0.9rem;
    }
   .Main_information_grid{
        margin: 0rem;
        padding: 0rem;
   }
   .Main_information_grid{
        padding: 0rem;
    }
    p{
        font-size: 1.3rem;
        margin-top: 0.3rem;
    }
    #How_to_play{
        margin-top: 1rem;
        padding: 0.3rem;
    }
    .how_to_play_grid{
        margin: 0rem;
    }
    .how_to_play_grid img{
        padding: 0rem;
    }
}
@media(max-width:524px){
    .navBar{
        display: none;
    }
    .strat_img_flex img{
        width: 7rem;
        height: 7rem;
    }
    #ms_easy{
        width: 5rem;
        height: 5rem;
        border-radius: 1.5rem;
    }
    #ms_med{
        width: 10rem;
        height: 10rem;
        border-radius: 1.5rem;
    }
    #ms_hard{
        width: 15rem;
        height: 15rem;
        border-radius: 1.5rem;
    }
    #Difficulty_levels h2{
        font-size: 1.5rem;
    }
    .how_to_play_grid img{
        height: 20rem;
        width: 27rem;
        margin-top: 3rem;
        padding: 0.3rem;
    }
    .Main_information_grid img{
        width: 27rem;
        height: 20rem;
        padding: 0.5rem;
    }
    .navBar{
        font-size: 0.6rem;
    }
    header img{
        width: 4rem;
    }
    .how_to_play_grid{
        display: flex;
        flex-direction: column;
    }
}
@media(max-width:440px){
    .Main_information_grid img{
        width: 20rem;
        height: 15rem;
        padding: 0.1rem;
    }
    .how_to_play_grid img{
        height: 15rem;
        width: 20rem;
    }
    #ms_easy{
        width: 5rem;
        height: 5rem;
        border-radius: 0.5rem;
    }
    #ms_med{
        width: 7rem;
        height: 7rem;
        border-radius: 0.5rem;
    }
    #ms_hard{
        width: 10rem;
        height: 10rem;
        border-radius: 0.5rem;
    }
    #Difficulty_levels h2{
        font-size: 1.3rem;
    }
    .strat_img_flex img{
        width: 5rem;
        height: 5rem;
        border-radius: 1rem;
    }
    footer h3{
        font-size: 0.9rem;
    }
}